.clearfix {
	clear: both;
}

.center-content {
    margin: 0 auto;
    width: 1120px;
    display: table;
}

.footer-intro {
	background-image: url(images_design/top_news/back-pattern.png);
	height: 90px;
	position: relative;
	z-index: 1;
}

.footer-intro:after {
	content: '';
	background-color: #00b1b3;
	position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.85;
    z-index: -1;
}

.footer-content {
	height: 340px;
	width: 100%;
	background-color: #00b1b3;
}

.footer-content-column {
	width: 360px;
    height: 340px;
    margin-right: 20px;
    padding: 0 20px 35px;
    position: relative;
    display: table-cell;
    vertical-align: bottom;
}

.footer-content-column:last-child {
    margin-right: 0;
}

.footer-logo {
	background-image: url('images_design/footer/logo-footer.png');
	background-repeat: no-repeat;
	height: 80px;
}

.footer-facebook-stream {
	background-image: url('images_design/footer/facebook.png');
	background-repeat: no-repeat;
	height: 36px;
	width: 35px;
}

.latest-facebook-stream {
	margin-top: 20px;
}

.footer-facebook-stream:hover {
	background-image: url('images_design/footer/facebook-hover.png');
	background-repeat: no-repeat;
	height: 36px;
	width: 35px;
	/*margin-left: 155px;	*/
}


.facebook-status {
	margin-top: 10px;
	margin-bottom: 20px;
	color: white;
	font-size: 22px;
	line-height: 20px;
}

.footer-twitter-stream {
	background-image: url('images_design/footer/twitter.png');
	background-repeat: no-repeat;
	height: 36px;
	width: 35px;
	/*margin-left: 155px;	*/
}

.footer-twitter-stream:hover {
	background-image: url('images_design/footer/twitter-hover.png');
	background-repeat: no-repeat;
	height: 36px;
	width: 35px;
	/*margin-left: 155px;	*/
}

.twitter-tweet {
	margin-top: 10px;
	color: white;
	font-size: 22px;
	line-height: 20px;
}

.footer-menu-class {
	text-align: left;
}

.footer-menu-class li{
	list-style-type: none;	
}

.footer-menu-class li a {
	color: white;
	font-size: 20px;
	line-height: 20px;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 160px;
}

.footer-menu-class li a:hover {
	text-decoration: none;
	color: #ed145a;
}

.footer-social {
}

.footer-mail {
	background-image: url('images_design/footer/mail.png');
	background-repeat: no-repeat;
	height: 36px;
	width: 35px;
}

.footer-mail:hover {
	background-image: url('images_design/footer/mail-hover.png');
	background-repeat: no-repeat;
	height: 36px;
	width: 35px;
}

.footer-telephone {
	margin-top: 10px;
	color: white;
	font-size: 15px;
	line-height: 15px;
}

.margin-left30 {
	margin-left: 30px;
}

.signal-bold {
	font-weight: bold;
}

.footer-copyright {
	height: 95px;
	background-color: #000000;
}

.disclaimer {
	line-height: 95px;
	margin: 0 auto;
	color: #00b1b3;
	font-size: 25px;
	text-transform: uppercase;
	text-align: center;
}