.player-body {
    overflow: hidden;
}

.player.wide {
    width: 840px;
}

.player.wide .content.feeds {
    display: block;
}

.player .content {
    width: 420px;
    height: 650px;
    float: left;
    position: relative;
}

.player .header {
    width: 100%;
    height: 80px;
    background-color: #ed145a;
    border-right: 2px solid #808080;
}

.player .header .icon {
    height: 80px;
    width: 80px;
    background-repeat: no-repeat;
    background-position: 22px 20px;
    background-size: 40px auto;
    cursor: pointer;
}

.player .header .icon:hover {
    background-color: #00b1b3;
}

.player .header .icon-radio {
    background-image: url("images_design/nav/logo.png");
    background-position: 10px 7px;
    background-size: 70px auto;
    float: left;
    cursor: auto;
}

.player .header .icon-comments {
    float: right;
    background-image: url("images_design/nav/user.png");
}

.player .header .icon-comments.active {
    background-image: url("images_design/nav/comments.png");
}

.player .feeds {
    display: none;
}

.player .feeds .header {
    border-right: none;
}

.player .song {
    height: 370px;
}

.player .share {
    height: 50px;
    background-color: #d00748;
    padding-left: 50px;
}

.player .share .button {
    background-position: 6px 7px;
    background-repeat: no-repeat;
    background-size: 36px auto;
    float: left;
    height: 100%;
    width: 50px;
    cursor: pointer;
}

.player .share .like {
    background-image: url("images_design/nav/facebook.png");
}

.player .share .facebook {
    background-image: url("images_design/nav/twitter.png");
}

.player .share .twitter {
    background-image: url("images_design/nav/facebook.png");
}

.player .program {
    height: 50px;
    background-color: #00b1b3;
}

.player .program .icon {
    width: 50px;
    height: 100%;
}

.player .program .icon.icon-mic {
    background-image: url("images_design/nav/facebook.png");
    background-position: 14px 14px;
    background-repeat: no-repeat;
    background-size: 24px auto;
    float: left;
}

.player .program .icon.icon-download {
    background-image: url("images_design/nav/facebook.png");
    background-position: 6px 7px;
    background-repeat: no-repeat;
    background-size: 36px auto;
    float: right;
}

.player .program span {
    text-transform: uppercase;
}

.player .program .status {
    font-size: 12px;
    left: 50px;
    margin-top: 5px;
    position: absolute;
}

.player .program .show {
    float: left;
    height: 32px;
    text-transform: none;
    width: 320px;
    margin-top: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: helveticaneuece;
}

.player .program .show .speaker {
    font-size: 17px;
}

.player .program .show .name {
    font-size: 15px;
    text-transform: none;
}

.player .banner {
    height: 100px;
    width: 100%;
    background-color: #d3d3d3;
    border: 15px solid #777777;
    position: absolute;
    bottom: 0;
    text-align: center;
}

.player .banner:before {
    content: 'BANNER';
    color: #777777;
    font-size: 30px;
    font-weight: bold;
    line-height: 64px;
}

/* right panel */
.player .header .icon.facebook {
    background-image: url("images_design/nav/facebook.png");
    float: right;
}

.player .header .icon.facebook.active {
    background-image: url("images_design/nav/facebook-active.png");
}

.player .header .icon.twitter {
    background-image: url("images_design/nav/twitter.png");
    float: right;
}

.player .header .icon.twitter.active {
    background-image: url("images_design/nav/twitter-active.png");
}

.player .header .chat {
    display: inline-block;
    font-size: 24px;
    padding: 22px 0 0 20px;
    text-transform: uppercase;
}

.player .feeds-container {
    position: relative;
    width: 420px;
    height: 470px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 5px;
}

.player .feeds-container.facebook {
    display: none;
}

/* facebook */
.fb-comments,
.fb-comments span,
.fb-comments iframe {
    width: 100% !important;
}

/* twitter */
.feeds-container.twitter iframe {
    height: 456px !important;
}

/* player inline */
.player.inline .icon-timeline {
    background-image: url("images_design/live-radio/time-icon.png");
    background-position: 24px center;
    background-repeat: no-repeat;
    background-size: 32px auto;
    float: right;
    height: 80px;
    width: 80px;
}

.player.inline .icon-timeline:hover {
    cursor: pointer;
    background-color: #00b1b3;
;
}

.player.inline .program {
    width: 300px;
    float: left;
    background-color: transparent;
}

.player.inline .timeline {
    width: 80px;
    float: right;
}

.player.inline .program .show {
    width: 250px;
}

.timeline-popup {
    background-image: url("images_design/live-radio/timeline.png");
    padding-top: 26px;
    position: absolute;
    top: 70px;
    z-index: 1;
    display: none;
    font-family: helveticaneuece;
}

.menu-main.bottom-animated .timeline-popup {
    background-image: url("images_design/live-radio/timeline-inverted.png");
    bottom: 65px;
    padding-top: 0;
    padding-bottom: 26px;
    top: auto;
}

.timeline-popup ul {
    width: 280px;
}

.timeline-popup li {
    height: 75px;
    padding: 2px 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.timeline-popup li.last {
    background-color: #ed145a;
    font-weight: normal;
    padding-top: 24px;
    font-size: 21px;
}

.menu-main.bottom-animated .timeline-popup li.last {
    position: absolute;
    width: 100%;
    top: -75px;
}

.timeline-popup .icon-artist {
    border-radius: 35px;
    height: 70px;
    overflow: hidden;
    width: 70px;
    float: left;
    margin-right: 10px;
}

.timeline-popup .artist,
.timeline-popup .song {
    display: block;
    float: none;
    text-align: left;
    height: auto;
    font-size: 17px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.timeline-popup .artist {
    font-weight: normal;
    margin-top: 10px;
    text-transform: none;
}

