.text-align-justify {
	text-align: justify;
}

.single-uppercase {
	text-transform: uppercase;
}

.single-bold {
	font-weight: bold;
}

.float-left {
	float: left;
}

.clearfix {
	clear: both;
}

.text-aligning {
	text-transform: uppercase;
	text-align: left;
	font-weight: bold;
}

.single-leading-image {
	z-index: 1;
	position: relative;
    padding-top: 80px;
    height: 500px;
}

.single-leading-image img {
	width: 100%;
	height: 100%;
}

.single-leading-image:after {
	/*content: '';
	position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #00b1b3;
    opacity: 0.3;
    z-index: 0;*/
}

.current-post-title {
	position: absolute;
	color: #ed145a;
	font-size: 40px;
	bottom: 40px;
	left: 80px;
	line-height: 40px;
}

.single-intro {
	height: 300px;
	background-image: url(images_design/top_news/back-pattern.png);
	position: relative;
	z-index: 1;
}

.single-intro:after {
	content: '';
	background-color: #00b1b3;
	position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.85;
    z-index: -1;
}

.single-intro-title {
	font-size: 24px;
	margin-left: 75px;
	height: 100%;
}

.post-icon {
	background-image: url('images_design/single/post-title.png');
	width: 38px;
	height: 38px;
	float: left;
	margin-top: 55px;
}

.current-date {
	font-size: 25px;
	color: white;
	line-height: 25px;
	margin-top: 60px;	
	margin-left: 20px;
	height: 100%;
}

.single-excerpt {
	font-style: italic;
	margin-top: 135px;
	text-align: justify;
	color: white;
}

.single-content-text {
	padding: 80px 80px 115px 150px;
	margin-left: 300px;
	background-color: white;
	font-size: 15px;
    color: #777777;
}

.recent-posts {
	height: 400px;
	background-color: #ed145a;
}

.recent-posts-block {
	margin-left: 450px;
	padding-top: 50px;
}

.recent-post-single {
	padding-right: 20px;
}

.post-image {
    position: relative;
}

.single-post-title {
	position: absolute;
	background-color: white;
	bottom: 0;
	padding: 15px;
	width: 100%;
	font-size: 20px;
	line-height: 20px;
}

.single-post-title a {
    color: #ed145a;
}

.single-post-title a:hover,
.single-post-title a:hover {
    text-decoration: underline;
}

.single-content {
	background-image: url(images_design/top_news/back-pattern.png);
	position: relative;
	z-index: 1;
}

.single-content:after {
	content: '';
	position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.85;
    z-index: -1;
}

